.testimonialContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.testimonialWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonialPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100%;
  gap: 20px; /* Update this line to set a consistent gap */
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

@media (max-width: 768px) {
  .testimonialPage {
    flex-direction: column;
    gap: 20px; /* Add this line to set the gap on mobile */
  }
}
