@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #161a30;
  --text-color: #f0ece5;
  --primary-color: #161a30;
  --secondary-color: #31304d;
  --accent-color: #b6bbc4;
  --light-grey: #d9d9d9;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Hide the default scrollbar */
.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  position: relative;
}

/* Hide scrollbar for Chrome/Safari */
.scroll-container::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
