@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #161a30;
  --text-color: #f0ece5;
  --primary-color: #161a30;
  --secondary-color: #31304d;
  --accent-color: #b6bbc4;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
